@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

:root{ /*  SETAMOS AS CORES PADRÃO AQUI E USAMOS SOMENTE A VARIÁVEL NOS ELEMENTOS, ASISM SE PRECISAR MUDAR FAZEMOS UMA VEZ*/
    --color-title: #00008B;
    --color-taskLine: #1C1C1C;
    --color-taskLineFinished: #696969;
}
*{  padding: 0;
    margin: 0;
    border: 0;
    font-size: 14px;
}

body {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 2vh;
}

body > h1 {
    font-size: 3vh;
    color: var(--color-title);
}

#taskLine{
    border: 1px solid var(--color-taskLine)
}

.taskListLine{
    color: var(--color-taskLine);
}

.taskListLine .taskListFinished {
    color: var(--color-taskLineFinished);
}