@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

:root{ 
    --background: #E7EFF3;
    --color-title: #FF8F56;
    --color-taskLine: #FF8F56;
    --color-taskLineFinished: #8EA6B4;
}
*{  padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Ropa Sans', sans-serif;
    list-style-type: none;
}

body {
    font-size: 2.5vh;
    background-color: var(--background);
    color: var(--color-taskLine);
}

.container {
    width: 100vw;
    height: 20%;
    /*border: 1px solid var(--color-taskLine);*/
    text-align: center;
    margin-bottom: 2vh;
}

.container > h1 {
    color: var(--color-title);
}

.container > #taskLine{
    border: 1px solid var(--color-taskLineFinished);
    width: 25vh;
    height: 3vh;
}
/*
#addNewTask{
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}

#addNewTask:hover{
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
*/
.tasks{
    /* border: 1px solid var(--color-taskLine); */
    list-style-type: none;
    /* text-align: center; */
    /* float: center; */
}

img{
    max-width: 2.5vh;
}

.img1{
    margin-right: 2vh;
}

.img2{
    margin-left: 1.5vh;
}

.taskListLine{
    margin-bottom: 2vh;
}
/* #addNewTask:hover{
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.taskListLine{
    color: var(--color-taskLine);
}*/

.taskListFinished {
    color: var(--color-taskLineFinished);
    text-decoration: line-through;
    /* margin-bottom: 2vh; */
} 

/*================ LAYOUT RESPONSIVO ===============*/

/* @media screen and (min-width: 1200px) {
    .container-tasks {
        width: 100vw;
        height: 75%;
        border: 1px solid var(--color-taskLine);
        margin-left: 15%;
    }
  } */

/* @media screen and (max-width: 800px) {
.container-tasks {
    width: 100vw;
    height: 75%;
    border: 1px solid var(--color-taskLine);
    margin-left: 15%;
}
} */