@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

:root{ 
    --color-title: #00008B;
    --color-taskLine: #1C1C1C;
    --color-taskLineFinished: #696969;
}
*{  padding: 0;
    margin: 0;
    border: 0;
    font-size: 14px;
}

body {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 2vh;
}

.container {
    width: 50vw;
    height: 25vh;
    border: 1px solid var(--color-taskLine);
    align-items: center;
    position: relative;
}

body > h1 {
    font-size: 3vh;
    color: var(--color-title);
}

/* #taskLine{
    border: 1px solid var(--color-taskLine)
}

#addNewTask{
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

#addNewTask:hover{
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.taskListLine{
    color: var(--color-taskLine);
}

.taskListFinished {
    color: var(--color-taskLineFinished);
    text-decoration: line-through;
} */